// TODO, should at least extract this to a file

$brand-050: #f0fcfc;
$brand-100: #c9f3f5;
$brand-400: #52c6cc;
$brand-800: #007e8a;
$brand-900: #005054;

$neutral-050: #fafbfb;
$neutral-100: #f4f5f5;
$neutral-400: #d5d7d7;
$neutral-800: #2a3434;
$neutral-900: #000e0e;

$neutral-extended-050: #fafbfb;
$neutral-extended-100: #f4f5f5;
$neutral-extended-200: #edeeee;
$neutral-extended-300: #e3e4e4;
$neutral-extended-400: #d5d7d7;
$neutral-extended-500: #b9bdbd;
$neutral-extended-600: #8e9494;
$neutral-extended-700: #464e4e;
$neutral-extended-800: #2a3434;
$neutral-extended-900: #000e0e;

$blue-050: #f2fafc;
$blue-100: #d0f0ff;
$blue-400: #6cf;
$blue-800: #0079bf;
$blue-900: #003555;

$green-050: #f2fcf3;
$green-100: #d0ffd1;
$green-400: #68f261;
$green-800: #11a600;
$green-900: #085400;

$yellow-050: #fcf9f2;
$yellow-100: #fff4d1;
$yellow-400: #ffd966;
$yellow-800: #bf9600;
$yellow-900: #544c00;

$red-050: #fcf2f3;
$red-100: #ffd1d7;
$red-400: #ff667a;
$red-800: #bf0016;
$red-900: #54000b;
