@import '~graphiql/graphiql.css';
@import './_colors.scss';


.notebook {
  margin: 12px;
}

.notebook-tool-bar {
  margin: 0 14px;
}

.notebook-cell {
  border: 1px solid $neutral-400;
  margin: 14px;

  &:nth-child(odd) {
    background: $neutral-extended-050;
  }
}

.cell-label {
  font-size:18px;
}

.cell-in-label {
  @extend .cell-label;
  color: #9B61A7;
}

.cell-out-label {
  @extend .cell-label;
  margin: 14px;
  color: $brand-400;
}

.cell-out-value {
  margin: 14px;
  &> ul {
    background-color: none !important; //Fix this
  }
}

.graphiql-container {
  min-height: 500px;
  height: auto;
  border-bottom: 1px solid #eee;

  .title {
    @extend .cell-in-label;
  }

  .topBar {
    background: none;
  }

  .historyShow, .docExplorerShow {
    background: none;
  }

  .docExplorerShow {
    border-left: none;
  }

  .execute-button, .toolbar-button {
    background: #eee;
    box-shadow: none;
    border-radius: 3px;
    border: none;
    font-size: 12px;
  }

  .execute-button {
    padding: 0;
    margin-top: 5px;
    display: inline-block;
    min-height: 24px;
    height: 24px;
    min-width: 53px;
    width: 53px;

    svg {
      display: none;
    }

    &:before {
      content:"▶";
    }
  }
}

.json-tree-text-field {
  color: $red-400;
}

.json-tree-value-widget {
  display: inline-block;
  padding: 6px;
  border: 1px solid #f0f0f0;
}

.nrql-renderer {
  width: 800px;
}
